<body class="container col-md-12">
  <div class="container p-3">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>Gerencie seus <b>eventos</b></h2>
          </div>
          <div class="p-3">
            <button
              type="button"
              class="btn btn-success p-3"
              (click)="openModal(modalEvent)"
            >
              <i class="bi bi-plus-circle"></i>
              <span> Cadastrar novo evento</span>
            </button>
          </div>
        </div>
      </div>
      <ng-template #dataEmpty> <modal-loading></modal-loading>> </ng-template>
      <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
          <tr class="text-center">
            <th>Analisar Evento</th>
            <th>Nome do Evento</th>
            <th>Início</th>
            <th>Fim</th>
            <th>Setor</th>
            <th>Local</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody *ngFor="let event of events">
          <tr class="text-center">
            <td class="card-title">
              <button
                type="button"
                class="btn pr-2"
                (click)="
                  updateApiDateFromEvent(event.start, event.end, event._id)
                "
              >
                <i class="bi bi-binoculars-fill"></i>
              </button>
            </td>
            <td class="card-title">{{ event.title | uppercase }}</td>
            <td class="card-text">{{ event.start | date }}</td>
            <td class="card-text">{{ event.end | date }}</td>
            <td class="card-text">{{ event.sector | uppercase }}</td>
            <td class="card-text">{{ event.local | uppercase }}</td>

            <td>
              <button
                type="button"
                class="btn pr-2"
                (click)="openModal(editEventModal)"
              >
                <i class="bi bi-pencil"></i>
              </button>

              <button
                type="button"
                class="btn pl-1"
                (click)="deleteEvent(event._id, deleteEventModal)"
              >
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>

          <ng-template
            #editEventModal
            let-close="close"
            class="modal fade"
            role="dialog"
          >
            <div #editEventModalContent class="modal-header col-lg-12">
              <h4 class="modal-title">Atualizar evento</h4>
              <button
                type="button"
                class="close"
                aria-label="Close"
                (click)="close()"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <form [formGroup]="eventForm" class="form" *ngIf="!loading">
                <div class="form-group col-lg-12">
                  <label>Nome do Evento</label>
                  <input
                    formControlName="title"
                    class="form-control"
                    ngModel="{{ event.title }}"
                  />
                  <error-message
                    *ngIf="
                      eventForm.get('title')?.errors?.required &&
                      eventForm.controls['title'].touched
                    "
                    text="Nome é necessário"
                  ></error-message>
                </div>

                <div class="col-12 text-center row">
                  <div class="form-group col-lg-6">
                    <label class="form-label">Início</label>

                    <input
                      formControlName="start"
                      type="datetime-local"
                      class="form-control"
                      ngModel="{{ event.start }}"
                    />
                    <error-message
                      *ngIf="
                        eventForm.get('start')?.errors?.required &&
                        eventForm.controls['start'].touched
                      "
                      text="Data inicial é necessária"
                    ></error-message>
                  </div>

                  <div class="form-group col-lg-6">
                    <label>Data final</label>
                    <input
                      formControlName="end"
                      type="datetime-local"
                      class="form-control"
                      ngModel="{{ event.end }}"
                    />
                    <error-message
                      *ngIf="
                        eventForm.get('end')?.errors?.required &&
                        eventForm.controls['end'].touched
                      "
                      text="Data final é necessária"
                    ></error-message>
                  </div>
                </div>

                <div class="col-12 text-center row">
                  <div class="form-group col-lg-6">
                    <label>Setor</label>
                    <input
                      formControlName="sector"
                      type="text"
                      class="form-control"
                      ngModel="{{ event.sector }}"
                    />
                    <error-message
                      *ngIf="
                        eventForm.get('sector')?.errors?.required &&
                        eventForm.controls['sector'].touched
                      "
                      text="Setor é necessário"
                    ></error-message>
                  </div>

                  <div class="form-group col-lg-6">
                    <label *ngFor="let local of locais">
                      <input
                        type="radio"
                        [value]="local.name"
                        formControlName="local"
                      />
                      {{ local.name }}
                    </label>

                    <error-message
                      *ngIf="isRequiredAndTouched('local')"
                      text="Local é necessário"
                    ></error-message>
                  </div>
                </div>
              </form>

              <modal-loading *ngIf="loading"></modal-loading>
            </div>

            <div class="modal-footer">
              <button
                type="button"
                [disabled]="eventForm.invalid"
                class="btn btn-outline-primary"
                (click)="editEvent(event._id)"
              >
                Atualizar evento
              </button>
              <button type="button" class="btn btn-secondary" (click)="close()">
                Fechar
              </button>
            </div>
          </ng-template>
        </tbody>
      </table>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-around">
    <form class="ms-3" [formGroup]="graphicForm" (ngSubmit)="process()">
      <label
        class="btn btn-secondary control-label m-3"
        *ngFor="let api of apis"
      >
        <input
          class="btn-check"
          type="radio"
          [value]="api.id"
          (change)="process()"
          formControlName="apiService"
        />
        {{ api.name }}
      </label>
    </form>

    <form [formGroup]="dateForm" class="form" (submit)="getIpcaData()">
      <div class="form-group">
        <label>Data Inicial</label>
        <input
          type="datetime-local"
          formControlName="dataInicial"
          class="form-control"
          placeholder="Data inicial (formato: DD/MM/YYYY)"
        />
      </div>
      <div class="form-group">
        <label>Data Final</label>
        <input
          type="datetime-local"
          formControlName="dataFinal"
          class="form-control"
          placeholder="Data final (formato: DD/MM/YYYY)"
          (change)="updateApiDate()"
        />
      </div>
    </form>
  </div>

  <div class="">
    <canvas
      id="myChart"
      width="150"
      height="40"
      baseChart
      [datasets]="chartData"
      [labels]="chartLabels"
      [options]="chartOptions"
      [legend]="chartLegend"
      [chartType]="chartType"
    ></canvas>
  </div>

  <ng-template #modalEvent let-close="close" class="modal fade" role="dialog">
    <div #modalEventContent class="modal-header col-lg-12">
      <h4 class="modal-title">Novo evento</h4>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <form [formGroup]="eventForm" class="form" *ngIf="!loading">
        <div class="form-group col-lg-12">
          <label>Nome do Evento</label>
          <input formControlName="title" class="form-control" />
          <error-message
            *ngIf="isRequiredAndTouched('title')"
            text="O nome do evento é necessário"
          ></error-message>
        </div>

        <div class="col-12 text-center row">
          <div class="form-group col-lg-6">
            <label class="form-label">Início</label>

            <input formControlName="start" type="datetime-local" class="form-control" />
            <error-message
              *ngIf="isRequiredAndTouched('start')"
              text="Data inicial é necessária"
            ></error-message>
          </div>

          <div class="form-group col-lg-6">
            <label>Data final</label>
            <input formControlName="end" type="datetime-local" class="form-control" />
            <error-message
              *ngIf="isRequiredAndTouched('end')"
              text="Data final é necessária"
            ></error-message>
          </div>
        </div>

        <div class="col-12 text-center row">
          <div class="form-group col-lg-6">
            <label>Setor</label>
            <input formControlName="sector" type="text" class="form-control" />
            <error-message
              *ngIf="isRequiredAndTouched('end')"
              text="Setor é necessário"
            ></error-message>
          </div>

          <div class="form-group col-lg-6">
            <label *ngFor="let local of locais">
              <input
                type="radio"
                [value]="local.name"
                formControlName="local"
              />
              {{ local.name }}
            </label>

            <error-message
              *ngIf="isRequiredAndTouched('local')"
              text="Local é necessário"
            ></error-message>
          </div>
        </div>
      </form>

      <modal-loading *ngIf="loading"></modal-loading>
    </div>

    <div class="modal-footer">
      <button
        type="button"
        [disabled]="eventForm.invalid"
        class="btn btn-outline-primary"
        (click)="newEvent()"
      >
        Cadastrar evento
      </button>
      <button type="button" class="btn btn-secondary" (click)="close()">
        Fechar
      </button>
    </div>
  </ng-template>

  <!-- Delete Modal HTML -->

  <ng-template
    #deleteEventModal
    let-close="close"
    class="modal fade"
    role="dialog"
  >
    <div #modalEventContent class="modal-header col-lg-12">
      <h4 class="modal-title">Evento excluído com sucesso!</h4>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      O evento selecionado foi apagado.

      <modal-loading *ngIf="loading"></modal-loading>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()">
        Fechar
      </button>
    </div>
  </ng-template>
</body>
