<body class="h-auto d-inline-block p-3">

	<div class="p-3">
		<div class="table-responsive">
			<div class="table-wrapper">
				<div class="table-title">
					<div class="row">
						<div class="col-sm-6">
							<h2>Gerencie seus <b>eventos</b></h2>
						</div>
						<div class="col-sm-6">
							<button type="button" class="btn btn-success m-1 p-3" data-bs-toggle="modal"
								data-bs-target="#addEvent"><i class="bi bi-plus-circle"></i> <span> Cadastrar novo
									evento</span></button>
							<button type="button" class="btn btn-danger m-1 p-3" data-bs-toggle="modal"
								data-bs-target="#deleteEventModal"><i class="bi bi-dash-circle"></i> <span>
									Deletar</span></button>
							<button type="button" class="btn btn-primary m-1 p-3" data-bs-toggle="modal"><i
									class="bi bi-graph-up"></i> <span> Analisar evento(s)</span></button>
						</div>
					</div>
				</div>
				<table class="table table-striped table-hover">
					<thead class="thead-dark">
						<tr>
							<th>
								<span class="custom-checkbox">
									<input type="checkbox" id="selectAll">
									<label for="selectAll"></label>
								</span>
							</th>
							<th>Nome do Evento</th>
							<th>Início</th>
							<th>Fim</th>
							<th>Setor</th>
							<th>Local</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<span class="custom-checkbox">
									<input type="checkbox" id="checkbox1" name="options[]" value="1">
									<label for="checkbox1"></label>
								</span>
							</td>
							<td>Greve dos caminhoneiros</td>
							<td>01/12/2017</td>
							<td>07/01/2018</td>
							<td>Transporte</td>
							<td>Nacional</td>
							<td>
								<button type="button" class="btn" data-bs-toggle="modal"
									data-bs-target="#editEventModal"><i class="bi bi-pencil"></i></button>
								<button type="button" class="btn" data-bs-toggle="modal"
									data-bs-target="#deleteEventModal"><i class="bi bi-trash"></i></button>
							</td>
						</tr>

					</tbody>
				</table>

				<!--
				<div class="clearfix p-3">
					<div class="hint-text">Mostrando <b>5</b> de <b>25</b> eventos</div>
					<ul class="pagination">
						<li class="page-item"><a href="#" class="page-link">Anterior</a></li>
						<li class="page-item"><a href="#" class="page-link">1</a></li>
						<li class="page-item"><a href="#" class="page-link">2</a></li>
						<li class="page-item active"><a href="#" class="page-link">3</a></li>
						<li class="page-item"><a href="#" class="page-link">4</a></li>
						<li class="page-item"><a href="#" class="page-link">5</a></li>
						<li class="page-item"><a href="#" class="page-link">Próximo</a></li>
					</ul>
				</div>
				-->
			</div>
		</div>

		<div class="container p-3" style="background-color: gray">

			<div class="sidebar left">

				<div class="p-3">
					<button type="button" class="btn btn-success m-1 p-1" data-bs-toggle="modal"
					data-bs-target="#addEvent"><i class="bi bi-cash-coin"></i> <span class="p-3"> Dólar</span></button>
				</div>


			</div>

			<echo-graphic></echo-graphic>

		</div>

	</div>

	

	<!-- Edit Modal HTML -->
	<div id="addEvent" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">
						<h4 class="modal-title">Adicionar Evento</h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="close"></button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>Nome do Evento</label>
							<input type="text" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Início</label>
							<input type="date" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Fim</label>
							<input type="date" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Setor</label>
							<textarea class="form-control" required></textarea>
						</div>
						<div class="form-group">
							<label>Local</label>
							<input type="text" class="form-control" required>
						</div>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-success" value="Adicionar">
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Edit Modal HTML -->
	<div id="editEventModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">
						<h4 class="modal-title">Editar Evento</h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="close"></button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>Nome do Evento</label>
							<input type="text" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Início</label>
							<input type="date" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Fim</label>
							<input type="date" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Setor</label>
							<textarea class="form-control" required></textarea>
						</div>
						<div class="form-group">
							<label>Local</label>
							<input type="text" class="form-control" required>
						</div>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-success" value="Atualizar">
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Delete Modal HTML -->
	<div id="deleteEventModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">
						<h4 class="modal-title">Deletar Evento</h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="Close"></button>
					</div>
					<div class="d-flex flex-column modal-body">
						<p>Você tem certeza que deseja deletar esse evento?</p>
						<p class="text-warning"><small>Essa ação não poderá ser desfeita</small></p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-danger" value="Deletar">
					</div>
				</form>
			</div>
		</div>
	</div>
</body>