<div class="">
  <canvas id="myChart"
  width="150" height="40"
  baseChart
            [datasets]="chartData"
            [labels]="chartLabels"
            [options]="chartOptions"
            [legend]="chartLegend"
            [chartType]="chartType"></canvas>
</div>
<form [formGroup]="dateForm" class="form mt-4" (submit)="getIpcaData()">
  <div class="form-group">
    <label>Data Inicial</label>
    <input
      formControlName="dataInicial"
      class="form-control"
      placeholder="Data inicial (formato: MM-DD-YYYY)"
    />
  </div>
  <div class="form-group">
    <label>Data Final</label>
    <input
      formControlName="dataFinal"
      class="form-control"
      placeholder="Data final (formato: MM-DD-YYYY)"
    />
  </div>
</form>
<button (click)="updateApiDate()">Atualizar Dados</button>