<div>
  <canvas id="myChart" width="300" height="100"></canvas>
</div>
<form [formGroup]="dateForm" class="form mt-4" (submit)="updateChart()">
  <div class="form-group">
    <label>Data Inicial</label>
    <input
      formControlName="dataInicial"
      class="form-control"
      placeholder="Data inicial (formato: MM-DD-YYYY)"
    />
  </div>
  <div class="form-group">
    <label>Data Final</label>
    <input
      formControlName="dataFinal"
      class="form-control"
      placeholder="Data final (formato: MM-DD-YYYY)"
    />
  </div>

  <button (click)="updateChart()">Dados do Gráfico</button>

</form>
<button (click)="updateApiDate()">Atualizar Datas</button>