<body class="text-center vsc-initialized container mt-5">
  <main class="d-flex form-signin justify-content-center align-items-center">
    <form class="cotainer" [formGroup]="loginForm" (submit)="login()" *ngIf="!loading">
      <h1 class="h3 mb-3 fw-normal">Faça login</h1>

      <div class="form-floating mb-3 mt-3">
        <input
          type="email"
          class="form-control"
          id="username"
          formControlName="username"
          [class.is-valid]="loginForm.controls['username'].valid"
          placeholder="username"
        />
        <error-message
          *ngIf="isRequiredAndTouched('username')"
          text="Username is required"
        ></error-message>
        <label for="usernameInput">Digite seu username</label>
      </div>

      <div class="form-floating mb-3 mt-3">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
          formControlName="password"
          [class.is-valid]="loginForm.controls['password'].valid"
        />
        <error-message
          *ngIf="isRequiredAndTouched('password')"
          text="Password is required"
        ></error-message>
        <label for="floatingPassword">Digite sua senha</label>
      </div>

      <a><i class="bi bi-google pe-2" style="font-size: 2rem"></i></a>

      <a><i class="bi bi-facebook ps-2" style="font-size: 2rem"></i></a>

      <div class="checkbox mb-3 mt-3">
        <label>
          <input type="checkbox" value="remember-me" /> Lembre de mim
        </label>
      </div>
      <button
        class="w-100 btn btn-lg btn-primary"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Sign in
      </button>

      <p class="text-center mt-2">
        Ainda não tem conta? <a [routerLink]="['/register']">Registre-se!</a>
      </p>

    </form>

    <modal-loading *ngIf="loading"></modal-loading>
  </main>
</body>
