<!DOCTYPE html>

<html>
    <head>
      <meta charset="UTF-8"/>
      <link rel="stylesheet" href="Register.css">
    
    </head>

    <body>
        <div class="register-page">
            <form>
                <input type="name" name="" id="" placeholder="NOME COMPLETO" class="name"></input>
                <input type="date" name="" id="" placeholder="DATA NASCIMENTO" class="birth"></input>
                <input type="radio" name="sex" id="" class="radio">MASC</input>
                <input type="radio" name="sex" id="" class="radio">FEM</input>
                <input type="email" name="" id="" placeholder="E-MAIL" class="email"></input>
                <input type="confirm-email" name="" id="" placeholder="CONFIRMAR E-MAIL" class="email"></input>
                <input type="password" name="" id="" placeholder="SENHA" class="password"></input>
                <input type="password" name="" id="" placeholder="CONFIRMAR SENHA" class="password"></input>
                <div class="cadastrar">
                    <button type="submit" class="btn">CADASTRAR</button>
                </div>
                
            </form>
        </div>

    </body>