<body class="d-flex justify-content-center">
  <div class="">
    <form
      [formGroup]="registerForm"
      class="form mt-4 container"
      (submit)="register()"
      *ngIf="!loading"
    >
      <div class="form-group">
        <input
          #usernameInput
          formControlName="username"
          class="form-control mt-2"
          placeholder="Username"
        />
        <error-message
          *ngIf="isRequiredAndTouched('username')"
          text="Insira um usuário"
        ></error-message>
        <error-message
          *ngIf="registerForm.get('username')?.errors?.minlength"
          text="Insira pelo menos 3 caracteres"
        ></error-message>
        <error-message
          *ngIf="registerForm.get('username')?.errors?.maxlength"
          text="Insira no máximo 20 caracteres"
        ></error-message>
        <error-message
          *ngIf="registerForm.get('username')?.errors?.pattern"
          text="Deve começar com uma letra minúscula, não pode ser um número"
        ></error-message>
      </div>

      <div class="form-group">
        <input
          formControlName="email"
          type="email"
          class="form-control"
          placeholder="E-mail"
        />

        <error-message
          *ngIf="isRequiredAndTouched('email')"
          text="Insira um e-mail válido"
        ></error-message>
        <error-message
          *ngIf="registerForm.get('email')?.errors?.email"
          text="E-mail inválido"
        ></error-message>
      </div>

      <div class="form-group">
        <input
          formControlName="password"
          type="password"
          class="form-control"
          placeholder="Senha"
          #password
        />
        <error-message
          *ngIf="isRequiredAndTouched('password')"
          text="Insira um senha"
        ></error-message>
        <error-message
          *ngIf="registerForm.get('password')?.errors?.minlength"
          text="Deve ter pelo menos 6 caracteres"
        ></error-message>
        <error-message
          *ngIf="registerForm.get('password')?.errors?.maxlength"
          text="Deve ter no máximo 20 caracteres"
        ></error-message>
      </div>

      <div class="form-group">
        <input
          formControlName="passwordRepeat"
          type="password"
          class="form-control"
          placeholder="Confirme sua senha"
          pattern="{{ password.value }}"
        />
        <error-message
          *ngIf="registerForm.get('passwordRepeat')?.errors?.pattern"
          text="As senha não são iguais"
        ></error-message>
      </div>

      <button
        [disabled]="registerForm.invalid"
        type="submit"
        class="btn btn-primary btn-block my-4"
      >
        Registrar
      </button>

      <p class="text-center mt-2">
        Já tem conta? <a [routerLink]="['/login']">Faça login!</a>
      </p>
    </form>

    <modal-loading *ngIf="loading"></modal-loading>
  </div>
</body>
