<section>

  <div class="d-flex align-items-center p-4 p-md-5 mb-4 text-white bg-dark" id="quem_somos">
    <div class="d-flex align-items-center jutify-content-center container">
      <img src="../../../assets/echo.png" id="echo-logo" class="col-md-6 pe-5">
      <p class="lead my-5 col-md-8">
        Página web que reúne todos os principais índices econômicos
        do mercado nacional e internacional para análise das
        movimentações das economias diante de eventos históricos.
        Os índices considerados são dados ligados ao crescimento do
        país, a taxa básica de juros, ao câmbio, a bolsa de valores
        e outros que tem forte influência nas economias em geral.
      </p>
    </div>
  </div>


  <div class="py-2 bg-white">
    <div class="col-md-12 text-center container">
      <h3 class="fw-bold pb-4 fs-3">O que falam sobre nós</h3>
      <div class="row">
        <div class="col-lg-4">

          <img src="../../../assets/homem_1.png" alt="">
          <h2>Edward</h2>
          <p class="container">
            Muito bom! Abriu meus olhos para os acontecimentos do mercado financeiro!
          </p>
        </div>
        <div class="col-lg-4">
          <img src="../../../assets/mulher_2.png" alt="">

          <h2>Jennifer</h2>
          <p class="container">
            Sempre investi no escuro, mas agora consigo estudar de forma mais clara e objetiva o que aconteceu no passado e tomar as melhores decisões.
          </p>
        </div>
        <div class="col-lg-4">
          <img src="../../../assets/mulher_3.png" alt="">

          <h2>Selma</h2>
          <p class="container">
            Ferramenta excelente para compor leque de opções para investir melhor!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
