a {
  text-decoration: none;
}

#quem_somos{
  background-image: url("../../../assets/fundo_quemsomos.png");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

#graphic {
  padding-left: 100px;
  padding-right: 100px;
}
