<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
  <div class="col-md-8 px-0">
    <h1 class="fst-italic">Tudo que tem importância é imprevisível</h1>
    <p class="lead my-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    <p class="lead mb-0"><a href="#" class="text-white fw-bold">Faça login</a></p>
  </div>
</div>