<body class="container col-md-12 vh-100">
  <div class="container p-3">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>Histórico de <b>consultas</b></h2>
          </div>
        </div>
      </div>
      <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
          <tr class="text-center">
            <th>Data da consulta</th>
            <th>Nome do Evento(s)</th>
            <th>Início</th>
            <th>Fim</th>
            <th>Setor(es)</th>
            <th>Local(is)</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody *ngFor="let event of events">
          <tr class="text-center">
            <td class="card-title fw-bold">{{ event.consultationDate | date:'short' }}</td>
            <td class="card-text">{{ event.event.title | uppercase }}</td>
            <td class="card-text">{{ event.event.start | date }}</td>
            <td class="card-text">{{ event.event.end | date }}</td>
            <td class="card-text">{{ event.event.sector | uppercase }}</td>
            <td class="card-text">{{ event.event.local | uppercase }}</td>
            <td>
              <button
                type="button"
                class="btn pl-1 ml-1"
                data-bs-toggle="modal"
                data-bs-target="#deleteEventModal"
              >
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Delete Modal HTML -->
  <div id="deleteEventModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <h4 class="modal-title">Deletar Evento</h4>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-hidden="Close"
            ></button>
          </div>
          <div class="d-flex flex-column modal-body">
            <p>Você tem certeza que deseja deletar esse evento?</p>
            <p class="text-warning">
              <small>Essa ação não poderá ser desfeita</small>
            </p>
          </div>
          <div class="modal-footer">
            <input
              type="button"
              class="btn btn-default"
              data-bs-dismiss="modal"
              value="Cancelar"
            />
            <input type="submit" class="btn btn-danger" value="Deletar" />
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
